@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap);

html {
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "montserrat"; 
    font-weight: 500;
    font-size: 16px;
    color: blue;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    font-size: small;
    width: 300px;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0 20px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: #0088a9;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}
